body {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

main,
header {
	margin: auto;
	width: 60%;
	min-width: 290px;
	display: flex;
	flex-direction: column;
}